*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#fff;
    color:#222;
}

/* Navbar */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    border-bottom:1px solid #eee;
}

#logo{
    width: 30px;
}

.logo{
    font-size:2rem;
    font-weight:700;
    color:#111;
}

.logo span{
    color:#e60000;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    text-decoration:none;
    color:#222;
    font-weight:500;
}

nav ul li a:hover{
    color:#e60000;
}

/* Hero Section */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:70px 8%;
    gap:50px;
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:5rem;
    line-height:1;
}

.hero-text h1 span{
    color:#e60000;
}

.hero-text h2{
    margin:20px 0;
    font-size:2rem;
}

.hero-text p{
    max-width:500px;
    color:#666;
    line-height:1.8;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#e60000;
    color:#fff;
    padding:15px 35px;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
}

.hero-image{
    flex:1;
}

.hero-image img{
    width:100%;
    border-radius:20px;
}

/* Features */
.features{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    padding:50px 8%;
    background:#fafafa;
}

.feature{
    text-align:center;
}

.icon{
    width:80px;
    height:80px;
    border-radius:50%;
    background:#ffeaea;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    font-size:2rem;
}

.feature h3{
    margin:15px 0 10px;
}

.feature p{
    color:#666;
}

/* About Section */
.about{
    display:flex;
    align-items:center;
    gap:50px;
    padding:80px 8%;
}

.about img{
    width:50%;
    border-radius:15px;
    width: 50%;
    height: 450px;

    border-radius: 15px;
}

.about-content{
    flex:1;
}

.about-content h3{
    color:#e60000;
    letter-spacing:1px;
}

.about-content h2{
    font-size:3rem;
    margin:15px 0;
}

.about-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:25px;
}

.read-btn{
    display:inline-block;
    padding:12px 25px;
    border:2px solid #ddd;
    border-radius:10px;
    text-decoration:none;
    color:#111;
    font-weight:600;
}
/* =========================
   SECTION TITLES
========================= */
.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h3{
    color:#e60000;
    font-size:1rem;
    margin-bottom:10px;
}

.section-title h2{
    font-size:2.5rem;
    margin-bottom:10px;
}

.section-title p{
    color:#666;
}

/* =========================
   TOPICS SECTION
========================= */
.topics{
    padding:80px 8%;
    background:#fff;
}

.topic-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    padding:15px 20px 10px;
}

.card p{
    padding:0 20px;
    color:#666;
    line-height:1.6;
}

.card a{
    display:inline-block;
    padding:20px;
    color:#e60000;
    text-decoration:none;
    font-weight:600;
}

/* =========================
   EMERGENCY SECTION
========================= */
.emergency{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
    padding:80px 8%;
    background:#fafafa;
}

.emergency-content{
    flex:1;
}

.emergency-content h3{
    color:#e60000;
    margin-bottom:10px;
}

.emergency-content h2{
    font-size:3rem;
    margin-bottom:20px;
}

.emergency-content p{
    color:#666;
    line-height:1.8;
}

.emergency-content ul{
    list-style:none;
    margin:25px 0;
}

.emergency-content li{
    margin:12px 0;
    font-size:1.1rem;
}

.emergency-img{
    flex:1;
}

.emergency-img img{
    width:100%;
    border-radius:20px;
}


.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:50px 8%;
    background:#fff5f5;
}

.stat-box{
    text-align:center;
}

.stat-box h2{
    color:#e60000;
    font-size:3rem;
}

.stat-box p{
    color:#555;
    margin-top:10px;
}


.testimonials{
    padding:80px 8%;
}

.testimonial-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.testimonial{
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.testimonial p{
    color:#666;
    line-height:1.8;
}

.testimonial h4{
    margin-top:20px;
    color:#111;
}


.newsletter{
    margin:50px 8%;
    padding:40px;
    border-radius:20px;
    background:linear-gradient(135deg,#ff1f1f,#d10000);
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
}

.newsletter form{
    display:flex;
    gap:10px;
}

.newsletter input{
    width:300px;
    padding:15px;
    border:none;
    border-radius:8px;
    outline:none;
}

.newsletter button{
    padding:15px 25px;
    border:none;
    border-radius:8px;
    background:white;
    color:#e60000;
    font-weight:600;
    cursor:pointer;
}


footer{
    background:#07172d;
    color:white;
    padding:60px 8% 20px;
}

.footer-content{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:40px;
}

.footer-box h2,
.footer-box h3{
    margin-bottom:15px;
}

.footer-box p{
    color:#ccc;
    line-height:1.8;
}

.footer-box a{
    display:block;
    color:#ccc;
    text-decoration:none;
    margin-bottom:10px;
}

.footer-box a:hover{
    color:#fff;
}

footer hr{
    margin:30px 0;
    border:none;
    border-top:1px solid rgba(255,255,255,0.2);
}

.copyright{
    text-align:center;
    color:#ccc;
}


@media(max-width:900px){

    .features{
        grid-template-columns:repeat(2,1fr);
    }

    .about,
    .emergency{
        flex-direction:column;
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
    }

    .newsletter{
        flex-direction:column;
        text-align:center;
    }

    .newsletter form{
        width:100%;
        flex-direction:column;
    }

    .newsletter input{
        width:100%;
    }
}

@media(max-width:600px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-text h1{
        font-size:3rem;
    }

    .features,
    .stats{
        grid-template-columns:1fr;
    }

    .about img{
        width:100%;
        height:auto;
    }
}


