*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f6f9;
}

nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    border-bottom:1px solid #eee;
}
#logo{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: #111;
}

.logo h2{
    margin: 0;
    line-height: 1;
}

.logo span{
    color:#e60000;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    text-decoration:none;
    color:#222;
    font-weight:500;
}

nav ul li a:hover{
    color:#e60000;
}

#profile-logo{
    width: 35px;
}

/* Hero */

.hero{
    height:40vh;
    background:linear-gradient(
        rgba(220,38,38,.9),
        rgba(185,28,28,.9)
    );
    color:white;
    text-align:center;
    padding:80px 20px;
    margin-top: 80px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:15px;
}

.hero p{
    max-width:700px;
    margin:auto;
    font-size:1.1rem;
}

/* Topics Grid */

.topics{
    width:90%;
    max-width:1400px;
    margin:50px auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

/* Card */

.card{
    background:white;
    padding:35px 25px;
    border-radius:15px;

    text-align:center;
    font-size:1.1rem;
    font-weight:500;

    border-left:6px solid #dc2626;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    cursor:pointer;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    background:#dc2626;
    color:white;
}

.hamburger{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

#menu-toggle{
    display: none;
}

/* Tablet */

@media(max-width:992px){

    .topics{
        grid-template-columns:repeat(2,1fr);
    }

}

/* Mobile */

@media(max-width:768px){

    .topics{
        grid-template-columns:1fr;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:30px;
    }
    .logo{
        font-size:0.9rem;
    }

    .hamburger{
        display: block;
        position: absolute;
        right: 20px;
        top: 30%;
        transform: translate(-50%);
    }

    #menu-toggle:checked ~ .nav-links{
        display: flex;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 200px;
        background: white;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .hero h1{
        font-size:2rem;
    }

}